n8n_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8806a371-4ecc-4810-a899-4daa56c7fb8e",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "95928a53-9aac-4f96-bf4d-58c2d0d73fe2",
      "name": "Webhook",
      "webhookId": "8806a371-4ecc-4810-a899-4daa56c7fb8e"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C090V8K9M6H",
          "mode": "list",
          "cachedResultName": "all-telus"
        },
        "text": "=Alert Firing: 🔥\n\n{{ $('AIAgent').item.json.output }}\n\nView Alert in Grafana: {{ $('PrepareAlert').item.json.grafanaURL || \"#\" }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1240,
        0
      ],
      "id": "85006a21-d8d2-423c-9815-3b75b5a2efbf",
      "name": "Slack",
      "webhookId": "df522e87-318d-45a0-8362-be52192fd8c3",
      "credentials": {
        "slackApi": {
          "id": "7blRGkN2XuCFQQ14",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "573cf207-787e-4b59-b967-deefb44bfe70",
              "name": "logContent",
              "value": "={{ $json.body.alerts.map(item => item.annotations.logs).join('\\n') }}",
              "type": "string"
            },
            {
              "id": "0a9e8855-3fe9-4312-8bdb-ed30c4ed24d1",
              "name": "grafanaURL",
              "value": "={{ $json.body.alerts[0].generatorURL }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "9698b481-a143-47c9-8ad8-a7dc92e88223",
      "name": "PrepareAlert"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-002",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        660,
        220
      ],
      "id": "db3d4296-2411-4d47-8e3e-e8d7dbb88bf1",
      "name": "GoogleAI",
      "credentials": {
        "googlePalmApi": {
          "id": "1xSeuGdApqJknWIL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=*You are an expert AIOps analyst.*  \nA critical application error has been detected. Message should be Slack format compatible. Please analyze the following log data and provide a concise report with two sections in Markdown:\n\n*1. Problem Statement:*  \nA short, clear explanation of the error's based on the log content.\n\n*2. Suggested Remediation:*  \nA numbered, step-by-step action plan for a developer to fix the issue.\n\n*Log Data:*  \n\n{{ $('PrepareAlert').item.json.logContent }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        820,
        0
      ],
      "id": "47422d0a-ebe8-47fc-b0ca-c7936c6043bc",
      "name": "AIAgent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0dbbc242-20e8-4a51-86a2-3c68b0d3c445",
              "leftValue": "={{ $json.logContent }}",
              "rightValue": "[no value]",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "c884e66a-8cf6-43ef-852b-4a9134cf3139",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "9b4b2068-442e-4022-8258-9b81039f1d76",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ],
      "id": "404fc585-b262-4280-a197-e799e772bcae",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "PrepareAlert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepareAlert": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GoogleAI": {
      "ai_languageModel": [
        [
          {
            "node": "AIAgent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AIAgent": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AIAgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dc0832d1-24cd-4d84-befc-d9f92a71cd47",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0f7e05f176c48c349a4e950952fd19591518ef4cde7c7cad9b064f9f4372c31f"
  },
  "id": "vCnu93nUmjWXzprH",
  "tags": []
}